/* -----PALETA DE COLORES--------------------------------------------------------------------------------------------------- */

:root{
    --color-primary: #415A77;
    --color-secondary: #f5f5f5;
    --color-extra: #dc143c;
}