/* -----PALETA DE COLORES--------------------------------------------------------------------------------------------------- */

:root{
    --white-: #F2F2F2;
    --black-: #030F26;
    --shadow-: #777b81;
    --light-: #5E9FF2;
    --blue-: #0540F2;
    --bluer-: #056CF2;
}