/* -----PALETA DE COLORES--------------------------------------------------------------------------------------------------- */

:root{
    --color-primary: #415A77;
    --color-secondary: #faf8f8;
    --color-extra: #dc143c;
    --color-shadow: #777b81;
}