/* -----ESTILOS GENERALES--------------------------------------------------------------------------------------------------- */

* {
  box-sizing:border-box; /* Selector universal: Para que no sumen padding ni margins -> "no se descuadre"  */
}

html, body {
  margin: 0;
  padding: 0;
  /* Evita que el navegador los ponga por defecto */
  font-family: 'Karla', sans-serif; /* Tipografía general  */
}

#root {
  overflow-x: hidden; /* Elimina la scroll horizontal */
}

 a {
  color: var(--black-);  /* Color de los enlaces */
  text-decoration: none;  /*  Elimina la linea tipica de los enlaces */
}

 /* a:hover {
   text-decoration: underline;   Aparece la linea típica de los enlaces 
  color: var(--light-);  Color de los enlaces 
} */

