/* -----MEDIA:QUERYS--------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 440px) {

    .container {
        padding: 2px;
    }

    /* ------------------------------ HERO -------------------------------- */

    .perfil {
        width: 70%;
    }

    .contact-div {
        display: none; /* Oculta el contact-div en dispositivos con ancho de pantalla menor a 430px */
      }

}


/* Breakpoint <600px */
@media screen and (max-width: 600px) {

    .container {
        padding: 2px;
    }

    /* ------------------------------ NAVBAR -------------------------------- */    
    .navbar {
        margin: 30px;
        /* margen arriba | margen derecha | margen abajo | margen izquierda */

        align-items: center;
        /* Se centran los elementos */
    }

    /* ------------------------------ HERO -------------------------------- */

    .hero-principal h3 {
        font-size: 1.5em;
        text-align: center;
    }

    .hero-principal h1 {
        font-size: 2.3em;
        text-align: center;
    }

    .hero-principal p {
        font-size: 1.3em;
        margin: 0;
        text-align: center;
    }

    .certi {
        margin: 0px 10px 0px 10px;
    }

    .hero-certi img {
        margin: 0px 5px 0px 20px;
        max-width: 65px;
        /* ajusta el tamaño según tus necesidades */
    }

    .hero-certi-uade img {
        margin: 40px 5px 0px 10px;
        max-width: 65px;
        /* ajusta el tamaño según tus necesidades */
    }

    .title {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    /* ------------------------------ PROYECTS -------------------------------- */

    .proyects {
        margin: 10px 20px 0px 20px;
    }

    .card-proyect .card {
        margin: 0px 0px 20px 0px;
        /* Centra la tarjeta horizontalmente */
        height: auto;
    }


    /* ------------------------------ TECHS -------------------------------- */

    .techs {
        margin: 20px 30px 0px 30px;
    }

    .tech-icons img {
        max-width: 65%;
    }

    .icon-box {
        margin: 0;
    }

    /* ------------------------------ CONTACT -------------------------------- */

    .contact {
        padding: 0;
        margin: 0;
    }

    .contact-box {
        margin: 60px;
        padding: 5px;
    }

    .contact-box h4 {
        font-size: 1.2em;
        text-align: center;
    }

    .contact-box h3 {
        font-size: 2em;
        text-align: center;
    }

    .contact-box h6 {
        font-size: 1em;
        text-align: center;
        margin-top: 8px;
    }

}

@media screen and (max-width: 799px) {
    
    .contacto {
    display: none;
  }
}

/* Breakpoint <993px */
@media screen and (max-width: 997px) {

    /* ---------------------------------- NAVBAR ------------------------------------ */

    .navbar-collapse {
        text-align: center;
        /* Centra el contenido del menú */
    }

    /* ------------------------------ HERO PRINCIPAL -------------------------------- */

    .hero-intro {
        width: 100%;
        /* Ocupar el 100% del ancho */
        order: 2;
        /* Cambiar el orden, para que aparezca antes en el diseño */
        padding: 0px 30px 30px 30px;
    }

    .retrato {
        width: 100%;
        /* Ocupar el 100% del ancho */
        padding: 0px 2px 0px 2px;
    }

    .retrato img {
        order: 1;
        /* "Retrato" se coloca arriba de "intro" */
        margin: 0px 30px 30px 30px;
    }

    .hero-principal h3 {
        text-align: center;
    }

    .hero-principal h1 {
        font-size: 3.0em;
        text-align: center;
    }

    .hero-principal p {
        margin: 0;
        text-align: center;
        font-size: 2em;
    }

    .certi {
        margin: 20px;
    }

    .hero-certi img {
        margin: 0px 5px 0px 20px;
        /* ajusta el tamaño según tus necesidades */
    }

    .hero-certi-uade img {
        margin: 20px 5px 0px 10px;
        /* ajusta el tamaño según tus necesidades */
    }

    .proyects {
        margin: 10px 40px 0px 40px;
    }

    .card-proyect .card {
        width: 100%;
        /* Ajusta el tamaño de acuerdo a tus necesidades */
        margin: 0px 0px 60px 0px;
        /* Centra la tarjeta horizontalmente */
    }

    .tech-icons img {
        max-width: 75%;
    }

    /* --------------------------------- FOOTER ----------------------------------- */

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .flex-container {
        flex-direction: column;
    }

    .nav-div{
        margin-left: 60px;
    }
}

@media screen and (max-width: 1023px) {
    
    .intro-proyect.row {
      flex-direction: column;
    }
    
    .intro-pic {
        order: 3;
        width: 100%;
    }
    .intro {
        order: 2;
      width: 100%;
    }

    .intro-name {
        order: 1;
        width: 100%;
    }
    
  }