/* -----MEDIA:QUERYS--------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 430px) {

    /* ------------------------------ HERO -------------------------------- */

    .container {
        padding: 2px;
    }

    .perfil {
        width: 70%;
    }

}


/* Breakpoint <600px */
@media screen and (max-width: 600px) {

    /* ------------------------------ NAVBAR -------------------------------- */

    .navbar {
        margin: 30px;
        /* margen arriba | margen derecha | margen abajo | margen izquierda */

        align-items: center;
        /* Se centran los elementos */
    }

    /* ------------------------------ HERO -------------------------------- */

    .hero-principal h3 {
        font-size: 1.5em;
        text-align: center;
    }

    .hero-principal h1 {
        font-size: 2.3em;
        text-align: center;
    }

    .hero-principal p {
        font-size: 1.3em;
        margin: 0;
        /* margen arriba | margen derecha | margen abajo | margen izquierda */
        text-align: center;
    }

    .certi {
        margin: 0px 10px 0px 10px;
    }

    .hero-certi img {
        margin: 20px 5px 0px 20px;
        /* ajusta el margen inferior según tus necesidades o ponlo a 0 para eliminarlo */
        max-width: 65px;
        /* ajusta el tamaño según tus necesidades */
    }

    .hero-certi-uade img {
        margin: 40px 5px 0px 10px;
        /* ajusta el margen inferior según tus necesidades o ponlo a 0 para eliminarlo */
        max-width: 65px;
        /* ajusta el tamaño según tus necesidades */
    }

    .title {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    /* ------------------------------ PROYECTS -------------------------------- */

    .proyects {
        margin: 10px 20px 0px 20px;
    }

    .card-proyect .card {
        width: 100%;
        /* Ajusta el tamaño de acuerdo a tus necesidades */
        margin: 0px 0px 20px 0px;
        /* Centra la tarjeta horizontalmente */
        height: auto;
    }

    /* ------------------------------ TECHS -------------------------------- */

    .techs {
        margin: 20px 30px 0px 30px;
    }

    .tech-icons img {
        max-width: 65%;
    }

    .icon-box {
        margin: 0;
    }

    /* ------------------------------ CONTACT -------------------------------- */

    .contact {
        padding: 0;
        margin: 0;
    }

    .contact-box {
        margin: 60px;
        padding: 5px;
    }

    .contact-box h4 {
        font-size: 1.2em;
        text-align: center;
    }

    .contact-box h3 {
        font-size: 2em;
        text-align: center;
    }

    .contact-box h6 {
        font-size: 1em;
        text-align: center;
        margin-top: 8px;
    }

}

/* Breakpoint <993px */
@media screen and (max-width: 993px) {

    /* ------------------------------ NAVBAR -------------------------------- */

    .navbar-collapse {
        text-align: center;
        /* Centra el contenido del menú */
    }

    /* ------------------------------ HERO PRINCIPAL -------------------------------- */

    .hero-intro {
        width: 100%;
        /* Ocupar el 100% del ancho */
        order: 2;
        /* Cambiar el orden, para que aparezca antes en el diseño */
        padding: 0px 30px 30px 30px;
    }

    .retrato {
        width: 100%;
        /* Ocupar el 100% del ancho */
        padding: 0px 2px 0px 2px;
    }

    .retrato img {
        order: 1;
        /* "Retrato" se coloca arriba de "intro" */
        margin: 10px 30px 40px 30px;
    }

}


/* Breakpoint <993px */
@media screen and (max-width: 994px) {
   
}