/* -----VISTA GENERAL--------------------------------------------------------------------------------------------------- */

.container {
  max-width: 1200px;
  /* Ancho maximo */
  margin: 0 auto;
  /* Se centra */
}

/* CONTENEDOR DE LIMPIEZA: se utiliza para manejar problemas relacionados con el diseño y la flotación de elementos, especialmente cuando se trabaja con grillas y elementos flotantes en CSS. */
/* .row::after{
  content: "";
  clear: both;
  display: table;
} */

/* -----NAVBAR--------------------------------------------------------------------------------------------------- */

.navbar {
  max-width: 515px; /* Ancho maximo */
  margin: 40px auto; /* Margen de arriba-abajo & margen al centro */
  background-color: var(--blue-); /* Fondo del nav */
  border-radius: 15px; /* Borde circular */
  font-family: 'Karla', sans-serif; /* Tipografía */
  font-size: 1.0em; /* Tamaño tipografía */
}

.navbar-brand  {
  color:var(--white-);
}

.navbar-nav .nav-link {
  color: var(--white-); /* Cambia el color del texto a blanco (#F2F2F2) */
}

.navbar-brand:hover {
  color: var(--white-); /* Cambia el color del texto al pasar el mouse */
  text-decoration: none; /* Elimina la subraya al pasar el mouse */
}

.navbar-nav a.nav-link:hover {
  color: var(--white-); /* Cambia el color del texto al pasar el mouse */
  text-decoration: none; /* Elimina la subraya al pasar el mouse */
}

/* BOTON DE CONTACTO */
.contact-btn {
  color: var(--black-); /* Color tipografía */
  background-color: var(--white-); /* Fondo del boton */
  border: 5px solid var(--white-); /* Borde solido*/
  border-radius: 15px; /* Borde circular */
  margin-left: 10px; /* Derecha a Izquierda */
}

/* -----HERO--------------------------------------------------------------------------------------------------- */

.hero {
  margin: 100px 50px;
}


.hero-principal h3 {
  color: var(--shadow-);
  font-weight: 700;
  text-align: left;
}

.hero-principal h1{
font-weight: 700;
font-size: 3.8em; /* Tamaño tipografía */
text-align: left;
color: var(--black-);
}

.hero-principal p{
  color: var(--shadow-);
  font-weight: 500;
  font-size: 1.8em; /* Tamaño tipografía */
  text-align: left;
  }

  /* FOTO PERFIL */
.perfil {
  max-width: 400px;
  /* Establece un ancho máximo para la imagen si es necesario */
}

/* ------PROYECTS------------------------------------------------------------------------------------------------------------ */

.proyects {
  padding: 20px;
  margin: 140px 10px 140px 10px;
}

.card {
  background-color: var(--white-);
  color: var(--black-);
  border: 1.3px solid ;
  border-radius: 20px;
  font-size: 1.1em;
}


.card-link:hover {
  filter: brightness(80%);
  transition: filter 0.3s ease;
}


.img-proyects{
  border-radius: 20px 20px 0px 0px;
}

/* -----PROYECTS INFO--------------------------------------------------------------------------------------------------- */

.intro-pic {
  padding: 3%;
 }

 .intro-pic h1 {
  font-weight: 700;
  color: var(--black-);
  font-size: 4em; /* Tamaño tipografía */
}

.intro-pic h4 {
  color: var(--shadow-);
  font-size: 2.8em; /* Tamaño tipografía */
}

.intro-pic h5 {
  color: var(--shadow-);
  margin-top: 50px;
  font-weight: 500;
  font-size: 2em; /* Tamaño tipografía */
}

.intro-pic h6 {
  font-size: 1.6em;
}

.intro {
  background-color: var(--bluer-);
}

.info-text {
 font-size: 1.6em;
 color: var(--white-);
 padding: 3%;
}

/* -----TECHS--------------------------------------------------------------------------------------------------- */

.techs {
  margin-top: 80px; /* Ajusta el valor según sea necesario */
  margin-bottom: 30px; /* Ajusta el valor según sea necesario */
  /* border: 5px solid var(--bluer-);  Borde solido
  border-radius: 15px;  Borde circular */
}

.tech-icons img {
    max-width: 60%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
}

.icon-box {
  margin: 10px;
  padding: 10px;
  width: auto;
  padding: 5%;
}


/* -----CONTACT--------------------------------------------------------------------------------------------------- */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 160px;
}

.contact { 
  border: none;
}

.contact h4 { 
  color: var(--shadow-);
  font-size: 2em;
}

.contact h3 { 
  font-size: 3.5em;
  font-weight: 800;
  color: var(--black-);
}

.contact h6 { 
  font-size: 1.3em;
  font-weight: 800;
  color: var(--black-);
}

/* -----FOOTER--------------------------------------------------------------------------------------------------- */

.footer {
  background-color: var(--blue-);
  padding: 10px; /* Ajusta el relleno según tus necesidades */
  color: var(--white-); /* Ajusta el color del texto según tus necesidades */
}

.footer .row {
  margin-left: 80px;
  margin-right: 60px;
}

.footer .col {
  padding: 0 40px;
}

.footer .nav-link{
  color: var(--white-); /* Ajusta el color del texto según tus necesidades */
}
