/* -----VISTA GENERAL--------------------------------------------------------------------------------------------------- */

.container {
  max-width: 1328px;
  /* Ancho maximo */
  margin: 0 auto;
  /* Se centra */
  padding: 10px 30px 0px 30px;
}


/* CONTENEDOR DE LIMPIEZA: se utiliza para manejar problemas relacionados con el diseño y la flotación de elementos, especialmente cuando se trabaja con grillas y elementos flotantes en CSS. */
/* .row::after{
  content: "";
  clear: both;
  display: table;
} */

/* -----NAVBAR--------------------------------------------------------------------------------------------------- */

.navbar {
  max-width: 515px;
  /* Ancho maximo */
  margin: 30px auto;
  /* Margen de arriba-abajo & margen al centro */
  background-color: var(--blue-);
  /* Fondo del nav */
  border-radius: 15px;
  /* Borde circular */
  font-family: 'Karla', sans-serif;
  /* Tipografía */
  font-size: 1.0em;
  /* Tamaño tipografía */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra con desplazamiento x=0, y=4px, desenfoque=8px y color RGBA */
  transition: box-shadow 0.3s ease;
  /* Efecto de transición suave en la sombra */
}

.navbar-collapse {
  text-align: center;
  /* Centra el contenido del menú */
}

.navbar-collapsed  {
  color: var(--white-);

}
 
.navbar-brand {
  color: var(--white-);
}

.navbar-nav .nav-link {
  color: var(--white-);
  /* Cambia el color del texto a blanco (#F2F2F2) */
  text-decoration: none;
}

.navbar-brand:hover {
  color: var(--white-);
  /* Cambia el color del texto al pasar el mouse */
  text-decoration: none;
  /* Elimina la subraya al pasar el mouse */
}

.navbar-nav a.nav-link:hover {
  color: var(--white-);
  /* Cambia el color del texto al pasar el mouse */
  text-decoration: none;
  /* Elimina la subraya al pasar el mouse */
}

.navbar-brand:visited,
.navbar-brand:active {
  text-decoration: none;
  color: var(--white-);
}

/* BOTON DE CONTACTO */
.contact-btn {
  color: var(--black-);
  /* Color tipografía */
  background-color: var(--white-);
  /* Fondo del boton */
  border: 5px solid var(--white-);
  /* Borde solido*/
  border-radius: 15px;
  /* Borde circular */
  margin-left: 10px;
  /* Derecha a Izquierda */
}

.navbar-toggler-icon.collapsed {
  color: var(--white-); /* Cambia aquí al color que desees */
}

span.navbar.toggler-icon {
  color: var(--white-);
}

/* Para el botón con la clase "navbar-toggler" */
button.navbar-toggler {
  color: var(--white-);
}

/* -----HERO--------------------------------------------------------------------------------------------------- */

.hero {
  margin: 40px 0px;
}

.hero-intro {
  padding: 20px 30px 30px 30px;
}

.hero-principal{
justify-content: center;
}

.hero-principal h3 {
  color: var(--shadow-);
  font-weight: 700;
  font-size: 2em;
  text-align: left;
}

.hero-principal h1 {
  font-weight: 700;
  font-size: 3.2em;
  text-align: left;
  color: var(--black-);
}

.hero-principal p {
  color: var(--shadow-);
  font-weight: 500;
  font-size: 1.8em;
  text-align: left;
}

.certi {
  display: flex;
  justify-content: center;
  margin-right: 120px;
}

.hero-certi img {
  width: 100px;
  height: auto;
  margin-left: 60px;
}

.hero-certi-uade img {
  width: 100px;
  height: auto;
  margin-left: 60px;
  margin-top: 20px;
}

/* FOTO PERFIL */
.perfil {
  width: 90%;
  margin-bottom: 100px;
}

.title {
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: 700;
  color: var(--bluer-);
  text-align: center;
}

/* ------PROYECTS------------------------------------------------------------------------------------------------------------ */
.proyects {
  margin: 50px 10px 10px 10px;
}

.card-proyect{
  padding: 10px;
}

.card {
  background-color: var(--white-);
  color: var(--black-);
  border: 1.3px solid;
  border-radius: 20px;
  font-size: 1.2em;
  height: auto;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra con desplazamiento x=0, y=4px, desenfoque=8px y color RGBA */
  transition: box-shadow 0.3s ease;
  /* Efecto de transición suave en la sombra */
}

.card-link:hover {
  filter: brightness(80%);
  transition: filter 0.3s ease;
}

.img-proyects {
  border-radius: 20px 20px 0px 0px;
}

.card-body {
  padding: 20px 8px;
}

.card-text {
  margin: 5px;
}

.shields {
  padding: 10px;
}

.shields img {
  margin-right: 10px;
  padding: 3px;
}

/* -----PROYECTS INFO--------------------------------------------------------------------------------------------------- */

.intro-proyect{
  padding: 0px 10px 0px 10px;
}

.intro-name {
  padding: 2%;
}

.intro-name h1 {
  font-weight: 700;
  color: var(--black-);
  font-size: 4em;
  margin-top: 20px;
}

.intro-name h4 {
  color: var(--shadow-);
  font-size: 2.8em;
  margin-top: 50px;
}

.intro-name h5 {
  color: var(--shadow-);
  font-weight: 500;
  font-size: 2.5em;
}

.intro-name h6 {
  font-size: 2em;
}

.repo-link {
  color: var(--shadow-);
  font-size: 1.2em;
}

.intro-text{
  background-color: var(--black-);
  opacity: 0.9;
  font-size: 2em;
  color: var(--white-);
  padding: 3%;
  margin-top: 35px;
  /* see the background through the hbox */
}

.intro-pic {
  margin: 0px 0px 0px 0px;
  padding: 5px;
}

.intro-img {
  width: 100%;
  /* No excede el 100% del ancho del contenedor padre */
  height: auto;
  margin: 40px 0px 50px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra con desplazamiento x=0, y=4px, desenfoque=8px y color RGBA */
  transition: box-shadow 0.3s ease;
  /* Efecto de transición suave en la sombra */
}

/* -----TECHS--------------------------------------------------------------------------------------------------- */

.techs {
  margin: 80px 10px 0px 10px;
  padding: 0px 5px;
  /* Ajusta el valor según sea necesario */
  /* border: 5px solid var(--bluer-);  Borde solido
  border-radius: 15px;  Borde circular */
}

.tech-icons img {
  max-width: 40%;
  /* Establece el ancho máximo al 100% del contenedor */
  height: auto;
  /* Mantiene la proporción original de la imagen */

}

.icon-box {
  margin: 5px;
  width: auto;
  padding: 5%;
}


/* -----CONTACT--------------------------------------------------------------------------------------------------- */

.contact {
  display: flex;
  justify-content: center;
  margin: 90px 10px;
  padding: 0px 5px;
}

.contact-box {
  margin: 160px 10px;
  padding: 0px 5px;
}

.contact h4 {
  color: var(--shadow-);
  font-size: 2em;
}

.contact h3 {
  font-size: 3.5em;
  font-weight: 800;
  color: var(--black-);
}

.contact h6 {
  font-size: 1.3em;
  font-weight: 800;
  color: var(--black-);
}

/* -----FOOTER--------------------------------------------------------------------------------------------------- */

.footer {
  background-color: var(--blue-);
  padding: 10px;
  /* Reyeno */
  color: var(--white-);
  /* ColorFont */
}

.flex-container {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.nav-div {
  display: flex;
}

.foo-link {
  margin-right: 40px;
  color: var(--white-);
}

.contact-div {
  margin-right: 40px;
  display: flex;
}

.contact-div {
  margin-right: 5px;
}

.mail {
  margin-left: 15px;
  margin-right: 5px;
}

.cel {
  margin-left: 15px;
  margin-right: 5px;
}